
.author-info{
  margin-top: 25px;
  margin-bottom: 25px;
}

.progress-bar {
  margin-bottom: 15px;
  background: white;


}


.progress-select-box{
  margin-top: 25px;

  .btn-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

  }
}

